* {
  font-family: 'Ubuntu', sans-serif;
}

body {
  background-color: #222222;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

/* Navbar */

nav {
  background-color: #222222;
  box-shadow: 2px 2px 5px #222222;
}

.navbar .navbar-nav {
  display: inline-flex;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.hamburger {
  background-color: #222222;
}

/* Header */

header {
  padding: 200px 0 100px;
  height: 100vh;
}

.avatar {
  width: 15%;
}

.social-icon {
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 27px;
  margin-right: 11px;
  cursor: pointer;
}

.social-icon a {
  transition: 0.4s all;
  text-decoration: none;
  color: white;
}

.social-icon:hover a {
  transform: scale(1.4);
}

.social-linkedin {
  background-color: #0077B5;
}

.social-github {
  background-color: #333333;
}

.social {
  display: inline-block;
}

/* Projecten */

.autogrid {
  display: grid;

  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;

  padding: 0;
  width: 640px;

  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  justify-content: center;
  justify-items: center;
}

.autogrid__element {
  position: relative;
  width: 300px;
  height: 300px;
}

.autogrid__element div {
  display: none;
}

.autogrid__element img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: .4s;
  filter: grayscale(80%);
}

.autogrid__element:hover img {
  transform: scale(1.05);
  filter: grayscale(0%);
}

.lb-t {
  color: rgba(255, 255, 255, .5)
}

.lb-p {
  color: white;
}

.lb-a {
  color: blue;
}

.lb-titel {
  color: white;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .autogrid {
    width: 100%;
    grid-template-columns: 1fr;
  }

  .nav {
    background: #222222;
  }

  .navbar-collapse {
    left: 50%;
  }
}

/* Over mij */

.foto {
  width: 25%;
  height: auto;
  margin-left: 8rem;
  float: left;
}

.info-txt {
  width: 60%;
  float: right;
  padding-right: 8rem;
  padding-top: 7rem;
  font-size: 1vw;
}

.cv {
  color: white;
  margin-top: 9rem;
  padding: 1em;
  border-style: solid;
}

.cv:hover {
  color: black;
  background-color: white;
}

/* Footer */

.footer {
  background-color: #1E1E1E;
  padding: 5em;
}

.footer-inhoud {
  color: white;
  margin-top: 5em;
}

.footer-inhoud-gegevens {
  text-align: center;
}

.footer-inhoud-gegevens--link {
  color: navy;
  border-bottom: solid 1px white;
  padding-bottom: 3px;
  text-decoration: none;
}

/* Media queries */

@media only screen and (max-width: 991px) {
  .navbar-collapse {
    margin-left: 40%;
  }

  .foto {
    margin-left: 2rem;
  }

  .info-txt {
    padding-top: 1rem;
    padding-right: 1rem;
    font-size: 3vw;
  }

  .cv {
    margin-top: 2rem;
  }

  .footer-inhoud-uitleg {
    margin-left: 10rem;
  }
}